<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!-- Connectionstring for prod <add name="Babajob" connectionString="server=10.0.1.111; uid=bjserver2008; pwd=BjS3rver2oo8; database=babajob" providerName="System.Data.SqlClient"/>-->
    <add name="Babajob" connectionString="server=(local);uid=babajob;pwd=bjserver2003;database=babajob;pooling=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>